<div id="footer" class="text-center bg-orange">
  <div class="container">
    <div class="row">
      <div class="col-xs-3">Re.création</div>
      <div class="col-xs-3">24, rue Guersant 75017 Paris</div>
      <div class="col-xs-3">01 45 72 35 06</div>
      <div class="col-xs-3">
        <a href="https://www.facebook.com/ReCreations17?fref=ts">
          <i class="fa fa-facebook"></i>
        </a>
      </div>
    </div>
  </div>
</div>