
<!-- REfaire une boucle ici, postionnment un peu tricky -->


<div class="test-aws below-navbar">
  <% if @creation %>
    <%= image_tag @creation.picture.url(:medium) %>
  <% else %>
    <p>Le site est en cours de renovation. Contactez Lilian au plus vite</p>
  <% end %>
</div>
</div>

