
<!-- REfaire une boucle ici, postionnment un peu tricky -->


<div class="test-aws below-navbar">
  <% if !@creations.empty? %>
    <%= image_tag @creations[0].picture.url(:medium) %>
  <% else %>
    <p>Le site est en cours de renovation. Contactez Lilian au plus vite</p>
  <% end %>
</div>


