<div class="section banner window-height below-navbar text-center">
  <div id="banner_title" class="padded">
    <%= image_tag "logo.png" %>
    <ul class="list-inline">
      <li><a href="#section2">Ateliers</a></li>
      <li><i class="fa fa-circle"></i></li>
      <li><a href="#section3">Boutique</a></li>
      <li><i class="fa fa-circle"></i></li>
      <li><a href="#section4">Création</a></li>
    </ul>
  </div>
  <a href="#section2"><i class="fa fa-angle-down floating"></i></a>
</div>
<div class="section bg-orange window-height text-center below-navbar" id="section2">
  <h2>Coté Ateliers</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-5 col-sm-offset-1">
        <%= image_tag "ateliers.png", class: "img-responsive" %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class= "text-home">Un nouveau thème de loisirs créatifs est proposé chaque semaine, aux enfants à partir de 8 ans.</div>
          <ul>
            <li>Peinture sur textile : décors de trousses, de sacs de goûter et de gym, de tapis de souris...
            </li>
            <li>Peinture sur bois : cadres photo, boites à trésors...</li>
            <li> Peinture sur porcelaine : bols, mugs...</li>
            <li>Confection de bracelets : perles, brésiliens, sham- ballas..</li>
            <li>Décorations et cadeaux de Noël...</li>
          </ul>
      </div>
    </div>
  </div>
  <a href="#section3"><i class="fa fa-angle-down floating"></i></a>
</div>

<div class="section bg-blue window-height text-center below-navbar" id="section3">
  <h2>Coté Boutique</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-5 col-sm-offset-1">
        <%= image_tag "boutique.jpg", class: "img-responsive" %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class= "text-home">La boutique vous acceuille dans un cadre chaleureux, vous y retrouvez des idées de créations et de cadeaux</div>
      </div>
    </div>
  </div>
  <!-- <div data-sr='enter left'> Bar </div>
  <div data-sr="wait 2.5s and then ease-in-out 100px"> Babababa </div> -->
  <a href="#section4"><i class="fa fa-angle-down floating"></i></a>
</div>
<div class="section window-height text-center below-navbar" id="section4">
  <h2>Coté Création</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-sm-5 col-sm-offset-1">
        <%= image_tag "creation.png", class: "img-responsive" %>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class= "text-home">Un nouveau thème de loisirs créatifs est proposé chaque semaine, aux enfants à partir de 8 ans.</div>
      </div>
    </div>
  </div>
</div>
<script>
  mixpanel.track("Visite Home")
  console.log("visite home sent")

</script>
